In [5]:
df[:2]

          x         y
0  0.000000  0.000000
1  0.256457  0.507309